{
    "sections": [
        {
            "persons": [
                {
                    "letter": "A",
                    "name": "安道全"
                }
            ],
            "index": "A",
            "rowNum": 1
        },
        {
            "persons": [
                {
                    "letter": "B",
                    "name": "白胜"
                },
                {
                    "letter": "B",
                    "name": "鲍旭"
                }
            ],
            "index": "B",
            "rowNum": 2
        },
        {
            "persons": [
                {
                    "letter": "C",
                    "name": "柴进"
                },
                {
                    "letter": "C",
                    "name": "曹正"
                },
                {
                    "letter": "C",
                    "name": "蔡福"
                },
                {
                    "letter": "C",
                    "name": "蔡庆"
                },
                {
                    "letter": "C",
                    "name": "陈达"
                }
            ],
            "index": "C",
            "rowNum": 5
        },
        {
            "persons": [
                {
                    "letter": "D",
                    "name": "戴宗"
                },
                {
                    "letter": "D",
                    "name": "单廷珪"
                },
                {
                    "letter": "D",
                    "name": "邓飞"
                },
                {
                    "letter": "D",
                    "name": "丁得孙"
                },
                {
                    "letter": "D",
                    "name": "董平"
                },
                {
                    "letter": "D",
                    "name": "段景柱"
				},
                {
                    "letter": "D",
                    "name": "杜迁"
                },
                {
                    "letter": "D",
                    "name": "杜兴"
                }
            ],
            "index": "D",
            "rowNum": 8
        },
        {
            "persons": [
                {
                    "letter": "F",
                    "name": "樊瑞"
                }
            ],
            "index": "F",
            "rowNum": 1
        },
        {
            "persons": [
                {
                    "letter": "G",
                    "name": "公孙胜"
                },
                {
                    "letter": "G",
                    "name": "龚旺"
                },
                {
                    "letter": "G",
                    "name": "关胜"
                },
                {
                    "letter": "G",
                    "name": "顾大嫂"
                },
                {
                    "letter": "G",
                    "name": "郭 盛"
                }
            ],
            "index": "G",
            "rowNum": 5
        },
        {
            "persons": [
                {
                    "letter": "H",
                    "name": "韩滔"
                },
                {
                    "letter": "H",
                    "name": "郝思文"
                },
                {
                    "letter": "H",
                    "name": "侯健"
                },
                {
                    "letter": "H",
                    "name": "皇甫端"
                },
                {
                    "letter": "H",
                    "name": "黄信"
                },
                {
                    "letter": "H",
                    "name": "花荣"
                },
                {
                    "letter": "H",
                    "name": "扈三娘"
                },
                {
                    "letter": "H",
                    "name": "呼延灼"
                }
            ],
            "index": "H",
            "rowNum": 8
        },
        {
            "persons": [
                {
                    "letter": "J",
                    "name": "蒋敬"
                },
                {
                    "letter": "J",
                    "name": "焦挺"
                },
                {
                    "letter": "J",
                    "name": "解珍"
                },
                {
                    "letter": "J",
                    "name": "解宝"
                },
                {
                    "letter": "J",
                    "name": "金大坚"
                }
            ],
            "index": "J",
            "rowNum": 5
        },
        {
            "persons": [
                {
                    "letter": "K",
                    "name": "孔明"
                },
                {
                    "letter": "K",
                    "name": "孔亮"
                }
            ],
            "index": "K",
            "rowNum": 2
        },
        {
            "persons": [
                {
                    "letter": "L",
                    "name": "乐和"
                },
                {
                    "letter": "L",
                    "name": "雷横"
                },
                {
                    "letter": "L",
                    "name": "李俊"
                },
                {
                    "letter": "L",
                    "name": "李衮"
                },
                {
                    "letter": "L",
                    "name": "李忠"
                },
                {
                    "letter": "L",
                    "name": "李立"
                },
                {
                    "letter": "L",
                    "name": "李云"
                },
                {
                    "letter": "L",
                    "name": "李应"
                },
                {
                    "letter": "L",
                    "name": "李逵"
                },
                {
                    "letter": "L",
                    "name": "林冲"
                },
                {
                    "letter": "L",
                    "name": "凌振"
                },
                {
                    "letter": "L",
                    "name": "刘唐"
                },
                {
                    "letter": "L",
                    "name": "吕方"
                },
                {
                    "letter": "L",
                    "name": "卢俊义"
                },
                {
                    "letter": "L",
                    "name": "鲁智深"
                }
            ],
            "index": "L",
            "rowNum": 15
        },
        {
            "persons": [
                {
                    "letter": "M",
                    "name": "马麟"
                },
                {
                    "letter": "M",
                    "name": "孟康"
                },
                {
                    "letter": "M",
                    "name": "穆春"
                },
                {
                    "letter": "M",
                    "name": "穆弘"
                }
            ],
            "index": "M",
            "rowNum": 4
        },
        {
            "persons": [
                {
                    "letter": "O",
                    "name": "欧鹏"
                }
            ],
            "index": "O",
            "rowNum": 1
        },
        {
            "persons": [
                {
                    "letter": "P",
                    "name": "裴宣"
                },
				{
                    "letter": "P",
                    "name": "彭玘"
                }
            ],
            "index": "P",
            "rowNum": 2
        },
        {
            "persons": [
                {
                    "letter": "Q",
                    "name": "秦明"
                }
            ],
            "index": "Q",
            "rowNum": 1
        },
        {
            "persons": [
                {
                    "letter": "R",
                    "name": "阮小二"
                },
                {
                    "letter": "R",
                    "name": "阮小五"
                },
                {
                    "letter": "R",
                    "name": "阮小七"
                }
            ],
            "index": "R",
            "rowNum": 3
        },
        {
            "persons": [
                {
                    "letter": "S",
                    "name": "施恩"
                },
                {
                    "letter": "S",
                    "name": "史进"
                },
                {
                    "letter": "S",
                    "name": "时迁"
                },
                {
                    "letter": "S",
                    "name": "石秀"
                },
				{
                    "letter": "S",
                    "name": "石勇"
                },
                {
                    "letter": "S",
                    "name": "宋江"
                },
                {
                    "letter": "S",
                    "name": "宋清"
                },
                {
                    "letter": "S",
                    "name": "宋万"
                },
                {
                    "letter": "S",
                    "name": "孙新"
                },
                {
                    "letter": "S",
                    "name": "孙二娘"
                },
                {
                    "letter": "S",
                    "name": "孙立"
                },
                {
                    "letter": "S",
                    "name": "索超"
                }
            ],
            "index": "S",
            "rowNum": 12
        },
        {
            "persons": [
                {
                    "letter": "T",
                    "name": "汤隆"
                },
                {
                    "letter": "T",
                    "name": "陶宗旺"
                },
                {
                    "letter": "T",
                    "name": "童猛"
                },
                {
                    "letter": "T",
                    "name": "童威"
                }
            ],
            "index": "T",
            "rowNum": 4
        },
        {
            "persons": [
                {
                    "letter": "W",
                    "name": "王定六"
                },
                {
                    "letter": "W",
                    "name": "王英"
                },
                {
                    "letter": "W",
                    "name": "魏定国"
                },
                {
                    "letter": "W",
                    "name": "武松"
                },
                {
                    "letter": "W",
                    "name": "吴用"
                }
            ],
            "index": "W",
            "rowNum": 5
        },
        {
            "persons": [
                {
                    "letter": "X",
                    "name": "项充"
                },
                {
                    "letter": "X",
                    "name": "萧让"
                },
                {
                    "letter": "X",
                    "name": "宣赞"
                },
                {
                    "letter": "X",
                    "name": "薛永"
                },
                {
                    "letter": "X",
                    "name": "徐宁"
                }
            ],
            "index": "X",
            "rowNum": 5
        },
        {
            "persons": [
                {
                    "letter": "Y",
                    "name": "杨志"
                },
                {
                    "letter": "Y",
                    "name": "杨雄"
                },
                {
                    "letter": "Y",
                    "name": "杨林"
                },
                {
                    "letter": "Y",
                    "name": "杨春"
                },
                {
                    "letter": "Y",
                    "name": "燕青"
                },
                {
                    "letter": "Y",
                    "name": "燕顺"
                },
                {
                    "letter": "Y",
                    "name": "郁保四"
                }
            ],
            "index": "Y",
            "rowNum": 7
        },
        {
            "persons": [
                {
                    "letter": "Z",
                    "name": "朱仝"
                },
                {
                    "letter": "Z",
                    "name": "张清"
                },
                {
                    "letter": "Z",
                    "name": "张横"
                },
                {
                    "letter": "Z",
                    "name": "张顺"
                },
                {
                    "letter": "Z",
                    "name": "朱武"
                },
                {
                    "letter": "Z",
                    "name": "朱富"
                },
                {
                    "letter": "Z",
                    "name": "朱贵"
                },
                {
                    "letter": "Z",
                    "name": "张青"
                },
                {
                    "letter": "Z",
                    "name": "郑天寿"
                },
                {
                    "letter": "Z",
                    "name": "周通"
                },
                {
                    "letter": "Z",
                    "name": "邹渊"
                },
                {
                    "letter": "Z",
                    "name": "邹润"
                }
            ],
            "index": "Z",
            "rowNum": 12
        }
    ],
    "total": 21
}